body {
     background: linear-gradient(#040451, #05DDD3);
     background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
}

.imagebox {
    
    margin: auto;
    width: 500px;
    height: 500px;
    margin-top: 60px;
    text-align: center;
    border: solid   4px black;
    background-image: url(images/286260.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid 4px white;
    border-radius: 25px;
}


h1 {
    color: white;
    text-align: center;
    margin-top: 50%;
}