* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #a5abaa;
	font-family: sans-serif;
}

.container {
	background-color: #222222;
	height: 100vh;
	background-attachment: fixed;
	padding-top: 200px;
}

.fave-box {
	width: fit-content;
	margin: 0px auto;
}
.fave-box h2 {
	margin-bottom: 50px;
}

.item {
	margin: 50px 10px;
	border-bottom: solid 3px #292929;
	padding-bottom: 35px;
}

.item label {
	font-size: 1.5em;
}

.item input {
	margin-right: 15px;
	width: 30px;
	height: 25px;
	opacity: 1;
	border: solid 2px #000000;
}
