* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #a5abaa;
	font-family: sans-serif;
}

.container {
	background-color: #222222;
	height: 100vh;
	background-attachment: fixed;
	padding-top: 200px;
}

.fave-box {
	width: fit-content;
	margin: 0px auto;
}
.fave-box h2 {
	margin-bottom: 50px;
}

.item {
	margin: 50px 10px;
	border-bottom: solid 3px #292929;
	padding-bottom: 35px;
}

.item:hover{
	color: white !important;
	cursor: pointer;
}

.item label {
	font-size: 1.5em;
	position: absolute;
	transform: translateY(0.1em);
}

.item input {
	margin-right: 15px;
	position: relative;
	top: 0.245em;
	left: 0.26em;
	

}

[type="radio"] {
	appearance: none;
	background-color: #222222;
	background-color: yellow;
	font: inherit;
	width: 1.35em;
	height: 1.35em;
	border: 0.35em solid transparent;
	border-radius: 50%;
}

#cats {
	appearance: none;
	background-color: transparent;
}

#cats:checked {
	background-color: #0D93FE;
	transition: all 0.5s ease;
}



.fav-item {
	display: inline-block;
	border: solid 5px #a5abaa;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	
}
