/* UNIVERSAL */

@font-face {
  font-family: "IranYekan";
  src: url(fonts/iranyekanwebregular.woff2) format(woff2);
}
:root {
  --font-family: IranYekan, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
  direction: rtl;
  max-width: 99vw;
}
ul {
  list-style: none;
}

.clearfix {
  clear: both;
}
a {
  text-decoration: none;
  color: inherit;
}

/* UNIVERSAL */

/* HEADER Start */

.header-top-img {
  width: 100vw;
}

.header-content {
  padding: 1em;
}
.header-content-left {
  float: left;
}

.header-content-right {
  float: right;
}
a.portfolio {
  color: black !important;
  font-size: 1.4em !important;
  float: left;
}

.ver-line1 {
  width: 0.1em;
  height: 1.8em;
  background-color: lightgray;
  margin-left: 1em;
  float: left;
}

a.register {
  border: solid 2px #e5e5ea;
  border-radius: 10px;
  padding: 0.6em 0.8em;
  margin-left: 1.5em;
  font-size: 0.8em;
  float: left;
}
a.register > * {
  float: left !important;
  margin: 0.2em;
}

.header-content-right * {
  float: right;
}
.logo-image {
  float: right;
  margin-top: 12px;
}
.search-bar {
  float: right;
  border: none;
  height: 3em;
  width: 500px;
  background-color: #f1f2f7;
  position: relative;
  margin-right: 30px;
  border-radius: 15px;
}

.search-bar-input {
  float: right;
  margin-right: 25px;
  border: none;
  width: 400px;
  height: 85%;
  position: relative;
  right: -5px;
  top: 3px;
  background-color: transparent;
  outline: none;
}
.search-bar i {
  float: right;
  position: relative;
  top: 7px;
  margin-right: 20px;
  color: #9e9fb1;
  font-size: 1.2em;
}

/* Menu */
.menu-content {
  height: 30px;
  padding: 10px;
  font-size: 0.8em;
  margin-top: 15px;
}

.location {
  float: left;
}

.category {
  float: right;
  padding: 0px 20px;
  font-weight: 600;
  border-left: solid 1px #000;
}
.category > p {
  float: right;
  padding: 0px 0px;
  font-weight: 600;
}
.category > i {
  float: right;
  padding: 0px 0px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  float: right;
  padding: 0px 20px;
}

.navbar ul li:hover .underline {
  background-color: red;
  width: 100%;
  transition: all 0.4s ease;
}
.category-div:hover .underline2 {
  background-color: red;
  width: 100%;
  transition: all 0.4s ease;
}

.underline {
  height: 2px;
  width: 0px;
  background-color: red;
  margin-top: 10px;
}
.underline2 {
  height: 2px;
  width: 0px;
  background-color: red;
  margin-top: 28px;
}

.navbar ul li.nav-question {
  border-right: solid 1px #000;
}

.nav-icon {
  opacity: 0.3 !important;
  font-size: 0.9em !important;
  position: relative;
  top: -3px;
}

/* HEADER End */

/* SLIDER Start */
.slider {
  margin-top: 20px;
  position: relative;
  max-width: 100vw;
}
.slider-img {
  width: 100%;
  background-color: #000;
}

.slider-btn {
  position: absolute;
  bottom: 30px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2em;
  padding-left: 2px;
  padding-top: 2px;
}

.slider-btn-right {
  right: 30px;
}

.slider-btn-left {
  right: 85px;
}
/* SLIDER End */

/* TOP-MAIN */
.top-main {
  width: 78%;
  height: 5000px;
  /* border: dashed 2px green; */
  margin: 0px auto;
}
/* Services */
.services-bar {
  text-align: center;
  margin-bottom: 20px;
}
.services-bar-items img {
  width: 5em;
  display: block;
  margin: 10px auto;
}

.services-bar-items a {
  font-size: 0.8em;
  display: block;
}

.services-bar-items li {
  display: inline-block;
  margin: 10px 0px 0px 80px;
}

.service-more {
  margin-left: 0px !important;
}
.fi-xwsuxl-ellipsis {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f1f2f4;
  display: block;
  padding-top: 12px;
  font-size: 1.5em;
  opacity: 0.6;
  text-align: center;
}
/* Amazing Suggest */
.amazing-suggest-box {
  background-color: #ef3a50;
  width: 100%;

  padding: 20px 30px;
  border-radius: 1.5em;
}
.amazing-suggest-items {
  height: 280px;
}
.viewall-link {
  float: right;
}

.amazing-item {
  display: inline-block;
  padding: 5px;
  background-color: white;
  width: 14.5%;
  height: 100%;
}
.amazing-item-first {
  border-radius: 0px 10px 10px 0px !important;
}

.amazing-suggest-image {
  width: 100%;
}

.amazing-suggest-ad-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px;
}

.viewall-link {
  color: white;
}

.offer-percent {
  background-color: #ef3a50;
  border-radius: 10px;
  padding: 2px 8px;
  color: white;
  font-size: 0.6em;
  margin-left: 20px;
}

.price-old {
  opacity: 0.5;
  font-size: 0.8em;
  margin: 20px 30px;
  text-align: left;
  text-decoration: line-through;
}

/* Amazing Market */

.amazing-market-box {
  height: 110px;
  background-color: #eef1ef;
  border-radius: 30px;
  margin: 10px 0px 20px 0px;
}

.amazing-market-box-right {
  float: right;
  width: 40%;

  position: relative;
}

.amazing-market-box-right a {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100%;
}

.offer-percent2 {
  background-color: #39ae00;
  border-radius: 20px;
  padding: 3px 10px;
  color: white;
  font-size: 0.9em;
}

.amazing-market-box-right a img:first-child {
  width: 10%;
}
.amazing-market-box-right a img:nth-child(2) {
  width: 40%;
  position: relative;
  right: -13%;
}
.amazing-market-box-right a > * {
  position: relative;
  float: right;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.amazing-market-box-left {
  float: left;
  width: 60%;
  padding-top: 15px;
}

.amazing-market-product-container {
  position: relative;
  width: 70px;
  height: 70px;
  float: right;
  margin: 0px 10px;
}
img.amazing-market-product {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.offer-percent3 {
  position: absolute !important;
  bottom: 0px !important;
  right: 0px !important;
}
.amazing-market-more {
  background-color: #ffffff;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  padding-top: 13px;
  color: #39ae00;
  float: right;
  text-align: center;
  margin-top: 15px;
}

/* Offer Collect Group1 */
.offer-collect-group1 {
  text-align: center;
  padding-bottom: 250px;
}
.offer-collect-group1 a {
  float: right;
  width: 24%;
  margin: 0.5%;
}
.offer-collect-group1 a img {
  width: 100%;
  border-radius: 20px;
}

/* Category Start */
.product-category {
  margin: 20px;
  text-align: center;
}

.title-h3 {
  text-align: center;
  margin: 2em auto;
  font-weight: 500;
  font-size: 1.4em;
}
.category-link {
  width: 13%;
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 30px;
}
.category-image {
  width: 100px;
  height: 100px;
  margin: 0px auto;
}

.category-image-title {
  text-align: center;
  font-size: 0.8em;
}
/* Categort End */

/* Offer Collect Group2 */

.offer-collect-group2 {
  text-align: center;
}

.offer-collect-group2 a {
  float: right;
  width: 49%;
  margin: 0.5%;
}
.offer-collect-group2 a img {
  width: 100%;
  border-radius: 20px;
}

/* Suggest Start */
.product-suggest {
  margin: 20px;
  /* background-color: red; */
  text-align: center;
}

.title-h3 {
  text-align: center;
  margin: 2em auto;
  font-weight: 500;
  font-size: 1.4em;
}

.suggest-box {
  border: solid 1px #e5e5e5;
  border-radius: 20px;
}

.suggest-box-top {
  border-bottom: solid 1px #e5e5e5;
}

.suggest-box-top a:last-child {
  border: none !important;
}

.suggest-box-bottom a:last-child {
  border: none !important;
}

.suggest-link {
  width: 13.91%;
  display: inline-block;
  border-left: solid 1px #e5e5e5;
  text-align: center;
  margin: 0px auto;
  height: 150px;
  padding-top: 20px;
}
.suggest-image {
  width: 100px;
  height: 100px;
  margin: 0px auto;
}

.suggest-image-title {
  text-align: center;
  font-size: 0.8em;
}
/* Suggest End */

/* Most-Popular Start */

.most-popular-container {
  border: solid 1px #e5e5e5;
  border-radius: 20px;
  padding-top: 40px;
  text-align: center;
}

.most-popular-title i {
  color: rgb(188, 188, 7) !important;
}

.most-popular-items {
  margin-top: 25px;
  text-align: center;
  height: 200px;
}

.most-popular-item {
  width: 11%;
  float: right;
}

.most-popular-item > img {
  height: 120px;
  width: 120px;
}

/* Most-Popular End */

/* Offer Collect Group3 */

.offer-collect-group3 {
  margin-top: 30px;
  text-align: center;
}

.offer-collect-group3 a {
  float: right;
  width: 49%;
  margin: 0.5%;
}
.offer-collect-group3 a img {
  width: 100%;
  border-radius: 20px;
}

/* Mobile Start */

.mobile-phone-title,
.mobile-cover-title,
.mobile-head-title,
.mobile-watch-title {
  font-size: 1em;
  padding: 10px 20px;
}
.mobile-phone-text,
.mobile-cover-text,
.mobile-head-text,
.mobile-watch-text {
  font-weight: 100;
  opacity: 0.7;
  padding: 0px 20px 20px 0px;
}

.mobile-container {
  overflow: auto;
  border: solid 1px #e5e5e5;
  border-radius: 20px;
  
}



.mobile-container .mobile {
  float: right;
  width: 25%;
  border: solid 1px #e5e5e5;
  
}
.mobile-phone-images,
.mobile-cover-images,
.mobile-head-images,
.mobile-watch-images {
  float: right;
  width: 100%;
  text-align: center;
  
  
}
.mobile-phone-images  img,
.mobile-cover-images  img,
.mobile-head-images  img,
.mobile-watch-images  img {
  
  width: 70%;
  
}


.mobile-phone-images  >div,
.mobile-cover-images  >div,
.mobile-head-images  >div,
.mobile-watch-images  >div {
  float: right;
  width: 50%;
  border-left: solid 1px #e5e5e59b;
}


a.view-mobile{
  color: #19BFD4;
  font-size: 0.8em;
  display: block;
  width: max-content;
  margin: 15px auto;
  

}

/* Mobile End */

/* TOP-MAIN */
