/* UNIVERSAL */

@font-face {
    font-family: "IranYekan";
    src: url(fonts/iranyekanwebregular.woff2) format(woff2);
  }
  @font-face {
    font-family: "Neuropol";
    src: url(fonts/Neuropol.woff2) format(woff2);
  }
  :root {
    --font-family: IranYekan, sans-serif;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
    direction: rtl;
    /* max-width: 100vw; */
  }
  
  .container {
    width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c3c3ce;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9898a6;
  }
  
  ul {
    list-style: none;
  }
  
  .clearfix {
    clear: both;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* UNIVERSAL */
  
  /* HEADER Start */
  
  .fixed-top {
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 10;
    padding-bottom: 8px;
    /* visibility: hidden; */
  }
  
  .header-top-img {
    width: 100vw;
  }
  
  .header-bar {
    position: relative;
  }
  
  .header-content-left {
    float: left;
    padding-left: 20px;
  }
  
  .header-content-right {
    float: right;
    padding-right: 20px;
  }
  a.portfolio {
    color: black !important;
    font-size: 1.4em !important;
    float: left;
  }
  
  .ver-line1 {
    width: 0.1em;
    height: 1.8em;
    background-color: lightgray;
    margin-left: 1em;
    float: left;
  }
  
  a.register {
    border: solid 2px #e5e5ea;
    border-radius: 10px;
    padding: 0.6em 0.8em;
    margin-left: 1.5em;
    font-size: 0.8em;
    float: left;
  }
  a.register > * {
    float: left !important;
    margin: 0.2em;
  }
  
  .header-content-right * {
    float: right;
  }
  .logo-image {
    float: right;
    margin-top: 12px;
  }
  .search-bar {
    float: right;
    border: none;
    height: 3em;
    width: 500px;
    background-color: #f1f2f7;
    position: relative;
    margin-right: 30px;
    border-radius: 15px;
  }
  
  .search-bar-input {
    float: right;
    margin-right: 25px;
    border: none;
    width: 400px;
    height: 85%;
    position: relative;
    right: -5px;
    top: 3px;
    background-color: transparent;
    outline: none;
  }
  .search-bar i {
    float: right;
    position: relative;
    top: 7px;
    margin-right: 20px;
    color: #9e9fb1;
    font-size: 1.2em;
  }
  
  /* Menu */
  .menu-content {
    height: 40px;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 130px;
  }
  
  .location {
    float: left;
    position: relative;
  }
  
  .location i.fi-xnluxl-map-marker {
    font-size: 1.1em;
    position: relative;
    top: -4px;
  }
  
  .category-div {
    position: relative;
    height: 100%;
  }
  
  .category-menu2 {
    position: absolute;
    /* border: solid 2px green; */
  }
  
  /* Category Menu Start */
  
  span.vertical-line {
    width: 2px;
    height: 60%;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 0.9em;
  }
  
  .category-menu {
    position: absolute;
    top: 73%;
    right: 0%;
    background-color: #f5f5f5;
    z-index: 5;
    height: 65vh;
    width: 12vw;
    border-radius: 0px 0px 10px 0px;
    display: none;
  }
  
  .category-menu td,
  .category-menu th {
    width: 100vw;
    position: relative;
  }
  
  .category-menu li {
    padding: 15px;
  }
  .category-menu li:hover {
    background-color: white;
    color: red;
  }
  
  .categoty-sub {
    width: 65vw;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    right: 12vw;
    border-radius: 0px 0px 0px 10px;
    position: absolute;
    top: 0%;
    right: 100%;
    overflow-y: auto;
    display: none;
    color: initial;
  }
  
  .categoty-sub-col {
    float: right;
    width: 25%;
  }
  
  .cat-viewall {
    display: block;
    color: #008eb2;
    width: 100%;
    padding: 20px 15px;
  }
  
  .categoty-sub-col th {
    font-size: 1.1em;
    opacity: 0.8;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-right: 1.5em;
    text-align: right;
  }
  
  .categoty-sub-col td {
    font-size: 1em;
    opacity: 0.6;
    padding: 0.5em 0.8em;
  }
  
  .categoty-sub-col a {
    display: inline-block;
    width: 100%;
  }
  
  .cat-beauty {
    width: 48.75vw !important;
  }
  .beauty-li .categoty-sub-col {
    width: 33.33%;
  }
  
  /* hover */
  
  .category-menu2:hover .category-menu {
    display: block;
  }
  
  .category-menu td:hover,
  .category-menu th:hover,
  .category-menu a:hover {
    color: red;
  }
  
  .category-menu .mobile-li:hover .cat-mobile {
    display: block !important;
  }
  
  .category-menu .digital-li:hover .cat-digital {
    display: block !important;
  }
  .category-menu .kitchen-li:hover .cat-kitchen {
    display: block !important;
  }
  .category-menu .dress-li:hover .cat-dress {
    display: block !important;
  }
  .category-menu .supermarket-li:hover .cat-supermarket {
    display: block !important;
  }
  .category-menu .books-li:hover .cat-books {
    display: block !important;
  }
  .category-menu .toys-li:hover .cat-toys {
    display: block !important;
  }
  .category-menu .beauty-li:hover .cat-beauty {
    display: block !important;
  }
  .category-menu .sport-li:hover .cat-sport {
    display: block !important;
  }
  .category-menu .tools-li:hover .cat-tools {
    display: block !important;
  }
  .category-menu .cars-li:hover .cat-cars {
    display: block !important;
  }
  .category-menu .native-li:hover .cat-native {
    display: block !important;
  }
  
  /* Category Menu End */
  
  a.category {
    float: right;
    padding: 0px 20px 10px 20px;
    font-weight: 600;
    border-left: solid 1px #000;
    position: relative;
  }
  .category > p {
    float: right;
    padding: 0px 0px;
    font-weight: 600;
  }
  .category > i {
    float: right;
    padding: 0px 0px;
  }
  .navbar {
    float: right;
    margin-right: 9%;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    float: right;
    padding: 0px 20px;
  }
  
  .navbar ul li:hover .underline {
    background-color: red;
    width: 100%;
    transition: all 0.4s ease;
  }
  a.category:hover .underline2 {
    background-color: red;
    width: 100%;
    transition: all 0.4s ease;
  }
  
  .underline {
    height: 2px;
    width: 0px;
    background-color: red;
    margin-top: 10px;
  }
  .underline2 {
    height: 2px;
    width: 0px;
    background-color: red;
    margin-top: 28px;
  }
  
  .navbar ul li.nav-question {
    border-right: solid 1px #000;
  }
  
  .nav-icon {
    opacity: 0.3 !important;
    font-size: 0.9em !important;
    position: relative;
    top: -3px;
  }
  
  /* HEADER End */
  




  /* Product Start */

.product-container{
  max-width: 100vw;
}


.product-topbar{
  width: 100vw;
  padding: 10px;
  border-top: solid 2px lightgray;
  font-size: 0.8em;
  opacity: 0.6; 
}

ul.breadcrump , ul.breadcrump2{
list-style: none;
float: right;
}
.breadcrump li{
  display: inline-block;
  padding: 10px;
}


.breadcrump li+li ::before{

  padding: 10px;
  color: black;
  content: "/\00a0";
}


.breadcrump2 li{
  display: inline-block;
  padding: 5px;
  font-size: 0.9em;
  opacity: 0.6; 
  color: #37C5D9;
}



.product-topbar > a {

  float: left;
  padding: 10px 20px 10px 20px;
}



/* Product */

.product-right{
  padding: 20px 0px;
  width: 35%;
  /* height: 800px; */
  float: right;
  border: dashed 2px lightgray;
  
}
 

.product-center{
  padding: 20px 0px;
  width: 44%;
  /* height: 800px; */
  float: right;
  border: dashed 2px lightgray;
}


.product-left{
  padding: 20px 0px;
  width: 21%;
  /* height: 800px; */
  float: right;
  border: dashed 2px lightgray;
  background-color: #F6F6F7;
  position: relative;
  top: 6em;
  border: solid 1px lightgray;
  border-radius: 10px;
}


.fave-navbar{
  float: right;
  width: 10%;
  border: dashed 2px lightgray;
}

.product-image-div{
  float: left;
  width: 90%;
  border: dashed 2px lightgray;
}

.product-image-div img {
  width: 100%;
}


.fave-navbar>ul{
  list-style: none;
}
.fave-navbar>ul>li{
  padding: 10px;
  font-size: 1.2em;
}

.h3-title {
  
  width: 140%;
  
}


fieldset.product-subtitle{
  margin-bottom: 20px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: solid 1px #E0E0E6;
}


fieldset.product-subtitle >legend {
  padding: 10px;
  font-size: 0.75em;
  opacity: 0.4;
}
fieldset.product-subtitle .product-rate >i:nth-of-type(1) {
color: #F7A821;
font-size: 0.8em;
}
fieldset.product-subtitle .product-rate >i:nth-of-type(2) , i:nth-of-type(3){
color: black;
opacity: 0.2;
font-size: 0.6em;
}
fieldset.product-subtitle .product-rate span:nth-of-type(1){
  font-size: 0.8em;
}
fieldset.product-subtitle .product-rate span:nth-of-type(2){
  font-size: 0.6em;
  opacity: 0.5;
}
fieldset.product-subtitle .product-rate a span:nth-of-type(1){
  font-size: 0.7em;
  color: #37C5D9;
  
}

fieldset.product-subtitle .likes i.like-ico{
  color: green;
  font-size: 0.7em;

}
  
fieldset.product-subtitle .likes span:nth-of-type(1){
  opacity: 0.8;
  font-size: 0.75em;
  

}
fieldset.product-subtitle .likes i.info-ico{
  color: rgba(0, 0, 0, 0.291);
  /* opacity: 0.4; */
  font-size: 0.7em;
  position: relative;
  top: -2px;
}

fieldset.product-subtitle .likes i.info-ico:hover::after {
  padding: 10px;
  line-height: 2em;
  border-radius: 10px;
  background-color: #3F4064;
  color: white;
  font-size: 1em;
  display: inline-block;
  width: 24em;
  content: "خریداران کالا با انتخاب یکی از گزینه های پیشنهاد یا عدم پیشنهاد ، تجربه خود را با کاربران به اشتراک می گذارند.";
  text-align: justify;
  position: absolute;
  left: -130px;
  top: 30px;
  z-index: 5;
}
  
fieldset.product-subtitle .title-h4{
  margin: 1em auto;
}
.color-label{
  display: inline-block;
}
.color {
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  border: solid 4px rgb(229, 229, 229);
  position: relative;
}
.color p{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-52%);
}

input.color-input{
  visibility: hidden;
  position: absolute;
}

input:checked ~ div  {
  border: solid 4px #19BFD3;
}

.fi-xwsuxl-check {
  position: absolute;
  right: 2px;
  visibility: hidden;
  color: white;
}

input:checked ~ div p i{
  visibility: visible;
}

.color1 p{
  background-color: #212121;
}

.color2 p{
  background-color: #F44336;
}
.color3 p{
  background-color: #2196F3;
}
.color4 p{
  background-color: #FF80AB;
}
.color5 p{
  background-color: #007E33;
}

.insuranc-box{
  
  height: 60px;
  border: solid 1px lightgray;
  border-radius: 10px;
}
.insuranc-right{
  float: right;
  width: 7%;
  height: 100%;
  border-left: solid 1px lightgray;
  position: relative;
  
}

.insuranc-left{
  float: left;
  width: 90%;
  height: 100%;
  position: relative;
  
}
.insuranc-left p{
line-height: 2.2em;
font-size: 0.8em;
  
}
.insuranc-left a{
float: left;
  
}

.insuranc-right input[type='checkbox'] {
  scale: 1.5;
  accent-color: #008EB2 !important;
  position: absolute;
  top: 56%;
  left: 56%;
  transform: translate(-50%,-50%);
}

.insuranc-left span:nth-of-type(2) {
  text-decoration: line-through;
  font-size: 0.9em;
  opacity: 0.3;
}
.insuranc-left span:nth-of-type(3) {
  font-size: 0.9em;
}



.offer-percent {
  background-color: #ef3a50;
  border-radius: 10px;
  padding: 0px 10px;
  color: white;
  font-size: 0.9em;
}


.viewall {
  color: #31C6D8;
  width: 100%;
  padding: 20px 15px;
  font-size: 0.8em;
}


.details-product-ul {
  list-style: none;
  padding-right: 10px;
  margin: 15px auto;
  
}
.details-product-ul li::before {
  content: "\2022";
  font-size: 1.2em;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  top: 0.19em;
}

.details-product-ul li>span:nth-of-type(1) {
  opacity: 0.6;
  font-size: 0.85em;
}
.details-product-ul li>span:nth-of-type(2) {
  font-size: 0.9em;
  font-weight:600;
}


.sending-desc > i{
  float: right;
  width: 2%;
  opacity: 0.5;
  font-size: 0.7em;
  padding-right: 10px;
  
}
.sending-desc > span{
  float: left;
  width: 97%;
  text-align: justify;
  font-size: 0.75em;
  opacity: 0.6;
  padding: 0px 15px ;
  line-height: 2em;
  
}


.sending-free
{
  border: solid 1px lightgray;
  border-radius: 10px;
  height: 5em;
  margin: 20px auto;
  
}

.sending-free h4{
  float: right;
  margin-top: 25px;
  padding-right:20px ;
  
}
.sending-free img{
float: left;
margin-left: 20px;
height: 90%;

}


.sending-digiplus{
  padding: 20px 0px;
  border: solid 1px lightgray;
  border-radius: 10px;
}
.sending-digiplus .sending-digiplus-title{
float: right;
font-size: 0.9em;
font-weight: bold;
padding-right:10px ;
}

.sending-digiplus i {
  float: right;
  padding-right: 7px;
  color:#AD2CA0 ;
}

.sending-digiplus > a{
float: left;
}



.sending-digiplus ul  li::before{
  content: "\2022";
  display: inline-block;
  color: #AD2CA0;
  font-size: 1.4em ;
  padding: 0.1em 0.5em;
  position: relative;
  top: 0.19em;
  
  
}

.sending-digiplus ul li span {
    font-size: 0.75em;
  opacity: 0.7;
  }



.image-thumbs{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.image-thumbs img{
  display: inline-block;
  width: 14%;
  margin: 0.5%;
  height: 80px;
  border: solid 1px lightgray;
  border-radius: 10px;
  
}


.image-thumbs >a:first-child , .image-thumbs >a:last-child {
  filter: blur(5px);
}

.product-right i.fi-cnldxl-exclamation-mark {
  opacity: 0.4;
  font-size: 0.7em;
  margin-right: 20px;
  position: relative;
  top: -2px;
  
}


.product-right .report-link {
  opacity: 0.8;
  font-size: 0.8em;
  margin-right: 10px;
  
}


.seller-box{
  padding: 8px 15px;
}
.seller-box > div{
  border-bottom: solid 1px lightgray;
  padding-bottom: 15px;
}

.seller-box > div > span:nth-child(1){
  
  margin-bottom: 25px;
  display: inline-block;
  }
.seller-box > div > a:nth-child(2){
  float: left;
  font-size: 0.9em;
  }
.seller-box > div > .logo-image{
  height: 1.2em;
  border-radius: 0px 8px 8px 0px;
  position: relative;
  top: -9px;
  

}

.seller-box > div > p:nth-of-type(1){
  margin-right:40px;
}

.seller-box .pop-box {
  margin-top: 15px;
  width: 100%;
}

.seller-box .pop-box-right{
  float: right;
  width: 40%;
  text-align: left;
  padding-left: 10px;
  font-size: 0.8em;
  border-left: solid 1px lightgray;

}
.seller-box .pop-box-left{
  float: right;
  width: 40%;
  padding-right: 10px;
  font-size: 0.8em;
  

}

.pop-box-right span:nth-of-type(1){
  color: #B1B64D;
}
.pop-box-right span:nth-of-type(2){
  opacity: 0.7;
  font-size: 0.95em;
}
.pop-box-left span:nth-of-type(1){
  opacity: 0.7;
  font-size: 0.95em;
}
.pop-box-left span:nth-of-type(2){
  color: #00A049;
  font-size: 0.95em;
}



.garanti-box {
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 0px auto;
  width: 90%;
  
}
.garanti-box span{
  font-size: 0.8em;
  position: relative;
  top: 2px;
  right: 10px;
  
}
.inventory-box{
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 0px auto;
  width: 90%;

}
.inventory-box i:nth-child(1){
  color: #19BFD3;
  font-size: 1.1em;

}
.inventory-box span:nth-child(3){
  float: left;
  font-size: 2em;
  margin-left: 20px;
  opacity: 0.7;
  position: relative;
  top: -10px;
}



.inventory-box-ul li span{
  opacity: 0.8;
  font-size: 0.7em;
  padding-right: 10px;

}
.inventory-box-ul li::before {
  content: "\2022";
  font-size: 1.2em;
  color: #19BFD3;
  display: inline-block;
  position: relative;
  top: 0.19em;

}



.score-box{
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 0px auto;
  width: 90%;
}

.score-box i:nth-child(1){
  color: #FCA400;
  font-size: 0.8em;
  position: relative;
  top: -0.2em;
  margin-left: 10px;
}

.score-box i:nth-child(3){
  opacity: 0.3;
  font-size: 0.8em;
  font-size: 0.7em;
  position: relative;
  right: 0.5em;
  top: -0.2em;
}

  /* Product End */