.box {
	border: solid 3px burlywood;
	margin: 10px 10px;
	width: 250px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}
.visible {
	overflow: visible;
}

.hidden {
	overflow: hidden;
}

.scroll {
	overflow: scroll;
}

.auto {
	overflow: auto;
}

.scroll-y {
	overflow-y: scroll;
}



span{
    color: red;
    font-weight: bolder;
}