* {
	margin: 0px;
}

body {
	background-image: url(images/25563.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	backdrop-filter: blur(15px);
  height: 100vh;
}

.background {
	text-align: center;
}

.container {
	/* display: inline-block; */
	/* margin-top: 200px; */
	padding-top: 200px;
	font-size: 60px;
	color: white;
}

p {
	margin-top: 10px;
	width: 100%;
	font-size: 35px;
	color: white;
}

a {
	margin-top: 100px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	display: inline-block;
	border: solid 2px black;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	background-color: white;
}
