* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.container {
	box-sizing: border-box;
	background: linear-gradient(#474747, #0b6969);
	height: 100vh;
	padding-top: 50px;
}

h2 {
	color: white;
	text-align: center;
}

.animal-title {
	color: white;
	text-align: center;
	font-size: 2.5em;
}

.animal-question {
	text-align: center;
	font-size: 1.8em;
}

.animals {
	margin: 100px 50px;
}

.animal-box {
	width: 25%;
	height: 250px;
	float: left;
}

.animal-box-top {
	border: solid 1px white;
	height: 250px;
	padding: 20px;
}
.animal-text {
	padding: 20px 0px;
}

.animal-box-bottom {
	border: solid 1px rgb(255, 255, 255);
	width: 100%;
	height: 100%;
}

.animal-image {
	width: 100%;
	height: 100%;
}
