* {
    margin: 0px;
}

.pixel {
    background-color: aqua;
    border: solid 3px #cb411e;
    width: 400px;
    height: 100px;
}

.rem {
    background-color: rgb(43, 223, 37);
    border: solid 3px #cb411e;
    font-size: 1.5rem;
}

.percent {
    background-color: aqua;
    border: solid 3px #cb411e;
    width: 50%;
    height: 50%;
}

div {
    width: 500px;
    height: 250px;
    border: dotted 2px #151595;
}