* {
	box-sizing: border-box;
	font-family: sans-serif;
}
.dropdown {
	margin-left: 50px;
	display: inline-block;
}
.menu {
	background-color: green;
	display: inline-block;
	padding: 15px 20px;
}
.menu:hover {
	background-color: rgb(49, 123, 49);
	color: white;
	display: inline-block;
	
	cursor: default;
}
.menu-content {
	position: absolute;
}
a.sub {
	padding: 10px;
	width: 150px;
	background-color: #f9f9f9;
	display: none;
}

.sub:hover {
	background-color: lightgray;
	cursor: pointer;
	color: #7a6c6c;
}

.dropdown:hover .sub {
	display: block;
}

.drop-description {
	margin: 180px 50px 10px;
}

p.succeed-desc {
	font-size: 20px;
}
.succeed-note > span {
	font-weight: bold;
}
.succeed-note {
	margin-left: 30px;
}
