@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: linear-gradient(to left, #2c3f54, #bbc2c7);
	height: 100vh;
	box-sizing: border-box;
	padding-top: 50px;
}
.container {
	width: 400px;
	height: 600px;
	border: solid 2px white;
	margin: 20px auto;
	text-align: center;
}
i {
	font-size: 400px !important;
}

.sub {
	font-size: 70px;
	font-weight: bold;
	color: aqua;
	font-family: "Dancing Script", cursive;
}
.hide {
	font-size: 0px;
	text-align: justify;
	color: white;
	padding: 20px;

	font-family: sans-serif;
}

.container:hover {
	background: linear-gradient(to left, #1259a2, #38bda3);
	.sub {
		margin-top: 10%;
		color: #001244;
		font-size: 100px;
	}
	.hide {
		font-size: 25px;
	}
}

.container:hover i {
	font-size: 0px !important;
}
