@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: linear-gradient(#00072b, #003e83);
	height: 100vh;
	box-sizing: border-box;
	padding-top: 50px;
}
.container {
	background: linear-gradient(to left, #ea3731, #834c96);
	box-sizing: border-box;
	width: 400px;
	height: 500px;
	border: solid 2px white;
	margin: 200px auto;
	text-align: center;
}
i {
	font-size: 400px !important;
}

.sub {
	font-size: 70px;
	font-weight: bold;
	color: #898281;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
.hide {
	font-size: 0px;
	text-align: justify;
	box-sizing: border-box;
	color: black;
	background-color: white;
	padding: 0px;
	margin: 0px auto;

	font-family: Dancing Script;
}

.container:hover {
	.hide {
		font-size: 25px;
		padding: 15px;
	}
	height: 730px;
	margin: 20px auto;
}
