@media screen and (max-width: 768px) {
  ul.navbar {
    flex-direction: column;
    align-items: center;
  }

  .row2 {
    flex-wrap: wrap;
  }

  .title-heading {
    min-width: 100% !important;
  }

  .about-me {
    min-width: 100% !important;
  }
}
