* {
	margin: 0px;
}
.margin {
	width: 400px;
	height: 600px;
	border: solid 20px yellow;
}
.padding-border {
	box-sizing: border-box;
	height: inherit;
	border: solid 20px #003d6e;
	padding: 20px;
	background-color: #00ffff;
	overflow: hidden;
}
.content {
	background-color: white;
	height: 100%;
	overflow: hidden;
}
.title {
	text-align: center;
	font-size: 40px;
}
.desc {
	width: 400;
	height: 600;
}
