* {
    margin: 0px;
    width: 100%;
    height: 100%;
}


body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.box1{
    margin-top: 200px ;
    
    width: 380px;
    height: 250px;
    background-color: black;
    border-radius:20px 20px 0px 0px ;
    
}

.box2{
    margin-top: 100px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(79, 9, 9);
    border-radius:20px 20px 0px 0px ;
    
}