body {
  background-image: url(Images/pic.jpg);
  /* height: 100vh; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}

.title {
  width: fit-content;
  color: white;
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
  margin: 10% auto;
  font-weight: bold;
}

.angel {
  width: fit-content;
  font-size: 50px;
  margin: 10% auto;
}

a {
  display: block;
  width: fit-content;
  border: solid 3px white;
  padding: 5px 50px;
  border-radius: 10px;
  background-image: linear-gradient(#ff4b00, #fffc19);
  font-size: 25px;
  margin: auto;
}
