* {
	margin: 0;
}
.container {
	box-sizing: border-box;
	padding: 20px 50px;
	background: linear-gradient(#da3e2e, #0064ff);
	/* height: 100vh; */
}


li ,a {
	font-size: 30px;
	color: yellow;
	text-decoration: none;
}
.htmlcss {
	border-radius: 20px;
	text-align: center;
	width: 70%;
	background: linear-gradient(#3b1f21, #0b264b);
	margin: 30px auto;
	padding: 45px 80px;
}
.titleCSS {
	color: #020b97;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 25px white;
	padding-bottom: 40px;
}

.descCSS {
	text-indent: 40px;
	color: white;
	text-align: justify;
	font-size: 22px;
	line-height: 50px;
}
.cssspan {
	text-decoration: double underline #0064ff;
}

hr {
	margin-top: 30px;
	display: inline-block;
	padding: 2px;
	background-color: white;
	width: 100%;
}

.titleHTML {
	color: black;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0px 0px 25px red;
	padding-bottom: 40px;
	padding-top: 20px;
}
.descHTML {
	text-indent: 40px;
	color: #cfbf27;
	text-align: justify;
	font-size: 22px;
	line-height: 50px;
}

.htmlspan {
	text-decoration: underline wavy 4px #870e02;
}

